# Investigating the outputs of imutils.crop

Code has been added to imutils.crop to make it output the data below to two .csv's: working.csv for examples that work and errors.csv for ValueError exceptions.

In [128]:
import pandas as pd
from ast import literal_eval

fieldnames = ['imgname', 'center', 'scale', 'res', 'rot', 'ul', 'br', 'pad', 'old_x', 'old_y', 'new_x', 'new_y']

errors_csv = pd.read_csv('notebooks/errors.csv', header=None, names=fieldnames)
working_csv = pd.read_csv('notebooks/working.csv', header = None, names=fieldnames)

In [129]:
def break_column(column):
    try:
        column_tuple = [literal_eval(row) for row in column]
        lb_column = [x[0] for x in column_tuple]
        ub_column = [x[1] for x in column_tuple]
        return lb_column, ub_column
    except SyntaxError: # Assuming it is a non-literal list
        column_list = [row.strip('\[\]').split(' ') for row in column]
        filtered_list = []
        for row in column_list: # A work-around for filtering out empty strings left from the above command
            filtered_row = []
            for e in row:
                if e != '':
                    filtered_row.append(e)
            filtered_list.append(filtered_row)        
        lb_column = [float(x[0]) for x in filtered_list]
        ub_column = [float(x[-1]) for x in filtered_list] # Since index [1] is an empty space
        return lb_column, ub_column

In [135]:
columns_to_convert = ['old_x', 'old_y', 'new_x', 'new_y', 'center', 'ul', 'br']

In [138]:
df_errors = pd.DataFrame()

for name in columns_to_convert:
    df_errors[str(name) + '_lb'], df_errors[str(name) + '_ub'] = break_column(errors_csv[name])

In [139]:
df_working = pd.DataFrame()

for name in columns_to_convert:
    df_working[str(name) + '_lb'], df_working[str(name) + '_ub'] = break_column(working_csv[name])

In [142]:
df_errors.describe()

,old_x_lb,old_x_ub,old_y_lb,old_y_ub,new_x_lb,new_x_ub,new_y_lb,new_y_ub,center_lb,center_ub,ul_lb,ul_ub,br_lb,br_ub
count,5898.000000,5898.000000,5898.000000,5898.000000,5898.000000,5898.000000,5898.000000,5898.000000,5898.000000,5898.000000,5898.000000,5898.000000,5898.000000,5898.000000
mean,578.848254,319.149881,309.655816,1015.086979,871.469651,611.771278,0.208206,705.639369,146.972729,749.763446,-292.621397,309.447609,587.002713,1189.080197
std,936.812951,1025.751070,124.370134,98.908680,694.267139,563.128336,3.311132,151.416238,1492.033235,164.991941,1539.056147,124.931422,1459.810370,298.061317
min,0.000000,-1908.000000,0.000000,595.000000,0.000000,-954.000000,0.000000,346.000000,-2650.254129,395.105804,-3863.000000,-93.000000,-1908.000000,595.000000
25%,0.000000,-317.000000,236.000000,962.000000,0.000000,-16.000000,0.000000,595.250000,-805.317378,623.518302,-1294.000000,236.000000,-317.000000,962.000000
50%,0.000000,-117.000000,312.000000,1080.000000,927.000000,711.500000,0.000000,704.000000,-545.215544,717.901043,-927.000000,312.000000,-117.000000,1129.000000
75%,1936.000000,1920.000000,382.000000,1080.000000,1294.000000,984.000000,0.000000,804.000000,2259.761161,860.701035,1936.000000,382.000000,2543.000000,1376.000000
max,2874.000000,1920.000000,702.000000,1080.000000,3863.000000,2468.000000,93.000000,1173.000000,3352.554349,1281.590579,2874.000000,702.000000,4317.000000,2447.000000

In [143]:
df_working.describe()

,old_x_lb,old_x_ub,old_y_lb,old_y_ub,new_x_lb,new_x_ub,new_y_lb,new_y_ub,center_lb,center_ub,ul_lb,ul_ub,br_lb,br_ub
count,401590.000000,401590.000000,401590.000000,401590.000000,401590.000000,401590.000000,401590.000000,401590.000000,401590.000000,401590.000000,401590.000000,401590.000000,401590.000000,401590.000000
mean,712.620230,1316.735252,198.335621,847.993655,47.833507,651.948530,1.427538,651.085572,1005.767946,538.008344,664.786723,196.908083,1345.870784,878.109154
std,448.567619,470.856335,101.456651,161.213864,149.652621,239.163746,10.831136,192.829635,515.856224,123.112172,540.169635,104.771324,520.421383,223.607827
min,0.000000,-2122.000000,0.000000,376.000000,0.000000,-1011.000000,0.000000,212.000000,-2650.587540,270.349919,-3371.000000,-166.000000,-2122.000000,376.000000
25%,350.000000,1000.000000,129.000000,729.000000,0.000000,485.000000,0.000000,506.000000,682.403540,472.894633,350.000000,129.000000,1000.000000,729.000000
50%,745.000000,1346.000000,202.000000,836.000000,0.000000,616.000000,0.000000,629.000000,1040.119230,512.901263,745.000000,202.000000,1346.000000,836.000000
75%,1064.000000,1761.000000,264.000000,983.000000,0.000000,780.000000,0.000000,787.000000,1406.540084,587.051644,1064.000000,264.000000,1761.000000,983.000000
max,2931.000000,1920.000000,748.000000,1080.000000,3371.000000,2904.000000,166.000000,1246.000000,3341.093313,1321.452896,2931.000000,748.000000,3982.000000,2739.000000

In [73]:
string

'2292.28724061'

In [74]:
float(string)

2292.28724061

In [34]:
df_errors['center'][0].strip('\[\]').split(' ')[0]

'2292.28724061'

In [37]:
df_errors.dtypes

imgname     object
center      object
scale      float64
res         object
rot        float64
ul          object
br          object
pad          int64
old_x       object
old_y       object
new_x       object
new_y       object
dtype: object

In [7]:
new_df

,old_x_lb,old_x_ub,old_y_lb,old_y_ub,new_x_lb,new_x_ub,new_y_lb,new_y_ub
0,1925,1920,393,1080,0,-5,0,687
1,0,-79,188,1080,1008,929,0,892
2,0,-302,327,972,947,645,0,645
3,0,-88,307,1080,952,864,0,773
4,2699,1920,437,1080,0,-779,0,643
5,0,-127,317,919,729,602,0,602
6,0,-526,321,1064,1269,743,0,743
7,2774,1920,400,1080,0,-854,0,680
8,0,-48,262,827,612,564,0,565
9,0,-590,301,1080,1615,1025,0,779
10,0,-55,291,781,544,489,0,490
11,0,-492,348,1025,1169,677,0,677
12,1935,1920,80,878,0,-15,0,798
13,0,-1104,504,1080,2108,1004,0,576
14,0,-242,245,1080,1191,949,0,835
15,2112,1920,336,824,0,-192,0,488
16,0,-866,364,1080,2219,1353,0,716
17,0,-294,346,1080,1209,915,0,734
18,0,-58,164,895,789,731,0,731
19,0,-276,20,1080,1491,1215,0,1060
20,0,-349,304,1080,1899,1550,0,776
21,0,-124,316,1047,855,731,0,731
22,0,-63,330,1080,837,774,0,750
23,0,-616,467,1080,1936,1320,0,613
24,0,-298,348,1080,1749,1451,0,732
25,0,-202,382,1080,931,729,0,698
26,0,-144,317,776,603,459,0,459
27,0,-251,167,1080,1523,1272,0,913
28,0,-528,241,987,1274,746,0,746
29,0,-542,379,1080,1636,1094,0,701
...,...,...,...,...,...,...,...,...
5868,1921,1920,123,781,0,-1,0,658
5869,1949,1920,421,1080,0,-29,0,659
5870,2119,1920,200,1080,0,-199,0,880
5871,0,-73,328,805,550,477,0,477
5872,0,-44,173,923,793,749,0,750
5873,0,-481,184,1033,1331,850,0,849
5874,0,-503,308,1080,1640,1137,0,772
5875,0,-366,595,1080,1214,848,0,485
5876,0,-94,241,1000,853,759,0,759
5877,0,-549,380,1080,1602,1053,0,700
5878,0,-54,381,849,523,469,0,468
5879,0,-259,262,935,931,672,0,673
5880,1972,1920,380,902,0,-52,0,522
5881,2035,1920,266,906,0,-115,0,640
5882,0,-29,343,1080,811,782,0,737
5883,0,-472,454,1066,1084,612,0,612
5884,0,-109,280,1016,846,737,0,736
5885,0,-267,273,1080,1411,1144,0,807
5886,2016,1920,396,969,0,-96,0,573
5887,0,-410,225,1080,1708,1298,0,855
5888,2271,1920,65,1072,0,-351,0,1007
5889,0,-55,240,917,732,677,0,677
5890,0,-148,256,949,841,693,0,693
5891,0,-190,514,1080,1224,1034,0,566
5892,2089,1920,233,712,0,-169,0,479
5893,0,-290,525,1080,1054,764,0,555
5894,0,-170,350,1080,1442,1272,0,730
5895,0,-186,296,1057,947,761,0,761
5896,0,-371,147,1080,1553,1182,0,933
5897,0,-475,493,1080,1166,691,0,587

In [149]:
working_csv.describe()

               scale            rot            pad
count  401590.000000  401590.000000  401590.000000
mean        2.922128      -0.134537     120.499514
std         0.915460      18.213449      37.878338
min         1.064302     -60.000000      43.000000
25%         2.240251       0.000000      92.000000
50%         2.779363       0.000000     115.000000
75%         3.378074       0.000000     139.000000
max        10.274837      60.000000     425.000000

In [148]:
errors_csv.describe()

             scale          rot          pad
count  5898.000000  5898.000000  5898.000000
mean      3.957101    -0.157678   163.406579
std       1.207828    15.127245    50.030547
min       1.731926   -60.000000    71.000000
25%       3.036226     0.000000   125.000000
50%       3.764576     0.000000   155.000000
75%       4.656346     0.000000   192.000000
max       8.782874    60.000000   364.000000